@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.stack-sans-text{
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.cantarell-regular {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cantarell-bold {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cantarell-regular-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.cantarell-bold-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.intel-one-mono{
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.elms-sans{
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
video{
  position: fixed;
  height: 100%;
  min-width: 100%;
  min-height: 100dvh;
  object-fit: cover;
  z-index: -1;
}
.backend{
    width: 35px;
}
#edad{
  width: 129px;
}
#ubicacion{
  width: 204px;
}
#tel{
  width: 214px;
}
